h1:hover{
   color: red;
}
a:link,a:hover{
   color: red;
}

a:visited{
   color: green;
}
a:active{
   color: darkred;
}

input:focus{
   background-color: yellow;
}
button:active{
   background-color: aqua;
}